.my-sec{
    height: 200px;
    background-image: url('../images/hero_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.my-sec-inner{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    /* opacity: 0.5; */
}
.about_c{
    text-align: center;
}
.my-img1{
    background-image: url('../images/menu-group-1.jpg');
}
.my-img2{
    background-image: url('../images/menu-group-2.jpg');
}
.my-img3{
    background-image: url('../images/menu-group-3.jpg');
}
.my-img4{
    background-image: url('../images/menu-group-4.jpg');
}